<div class="video-Age">
    <div class="background">
        <video autoplay loop src="../../assets/AgeIV_Video/AgeofEmpires4Low.mp4" id="videoBackground"  ></video>
    </div>
    <div class="foreground">
        <video autoplay loop src="../../assets/AgeIV_Video/AgeofEmpires4.mp4" id="videoForeground"></video>
        <div class="foregroundInner">
            <div class="logoGame">
                <img src="../../assets/Logos/AgeLogo.png" alt="AgeLogo">
            </div>
            <div class="authorName">
                <h2>Harvey David Cortes</h2>
            </div>
        </div>
    </div>
</div>