<body>
    <div class="pannelView">
      <div class="hiveDetailsContainer">
        <div class="hive">
          <ul id="grid" class="clear">
            <li *ngFor="let product of products">
              <div class="hexagon"></div>
            </li>
          </ul>
        </div>
        <div class="information">
          <ul>
            <li>Nombre</li>
            <li>Expansion</li>
            <li>Army Type</li>
          </ul>
        </div>
      </div>
      <div class="imageFocus">
          <img src="../../assets/Logos/AgeLogo.png" alt="">
      </div>
    </div>
  </body>
  